<footer class="pc-footer">
  <div class="footer-wrapper container-fluid">
    <div class="row">
      <div class="col my-1">
        <p>LibNews Central © <%= new Date().getFullYear() %>, All rights reserved.</p>

      </div>
      <div class="col-auto my-1">
        <ul class="list-inline footer-link mb-0">
          <li class="list-inline-item"><a href="/">Home</a></li>
          
        </ul>
      </div>
    </div>
  </div>
</footer>