<div class="row ">
    <!-- Base Style table start -->
    <div class="col-sm-12 ml-5">
      <div class="card">
        
        <div class="card-header">
        
          <h3>Articles List</h3>
          <small>Add Articles by name & image</small>
        </div>
        <div class="card-body table-border-style">
            <button type="button" class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#exampleModalLive">Add Articles</button>
          <div class="table-responsive">
            <table id="base-style" class="table mt-3">
              <thead>
                <tr class="mt-4">
                  <th>Title</th>
                  <th>Articles</th>
                  <th>publisher</th>
                  <th>source</th>
                  <th>Featch_at</th>
                  <th>Published_at</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                
                <tr>
                  <td>Football is a beautiful game</td>
                  <td>sport</td>
                  <td>front page Africa</td>
                  <td>Front page Africa</td>
                  <td>2:00 Am </td>
                  <td>Sept 13 2024</td>
                  
                  <td>
                    <!-- <a href="#" class="avtar avtar-xs btn-link-secondary">
                        <i class="ti ti-eye f-20"></i> </a> -->
                    <a href="#" class="avtar avtar-xs btn-link-secondary ">
                        <i class="ti ti-edit f-20"></i> </a>
                    <a href="#" class="avtar avtar-xs btn-link-secondary text-danger">
                        <i class="ti ti-trash f-20"></i>
                    </a>
                    </td>
                </tr>
         
              </tbody>
              
            </table>
          </div>
        </div>
      </div>
    </div>
</div>