
<div class="row ">
    <!-- Base Style table start -->
    <div class="col-sm-12 ml-5">
      <div class="card">
        
        <div class="card-header">
        
          <h3>Publishers List</h3>
          <small>Add Publishers by name & image</small>
        </div>
        <div class="card-body table-border-style">
            <button type="button" class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#exampleModalLive">Add Category</button>
          <div class="table-responsive">
            <table id="base-style" class="table mt-3">
              <thead>
                <tr class="mt-4">
                  <th>Name</th>
                  <th>Website</th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                
                <tr>
                  <td>Football</td>
                  <td>sport</td>
                  <td>front page Africa</td>
                  <td>Front page Africa</td>
                  <td>2:00 Am </td>
                  <td>Sept 13 2024</td>
                  
                  <td>
                    <!-- <a href="#" class="avtar avtar-xs btn-link-secondary">
                        <i class="ti ti-eye f-20"></i> </a> -->
                    <a href="#" class="avtar avtar-xs btn-link-secondary ">
                        <i class="ti ti-edit f-20"></i> </a>
                    <a href="#" class="avtar avtar-xs btn-link-secondary text-danger">
                        <i class="ti ti-trash f-20"></i>
                    </a>
                    </td>
                </tr>
         
              </tbody>
              
            </table>
          </div>
        </div>
      </div>
    </div>
    
</div>

<div id="exampleModalLive" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLiveLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLiveLabel">Add Category</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <form action="/add_category" method="POST" id="addcategory" enctype="multipart/form-data">
                        <div class="mb-3">
                          <input
                            type="text"
                            id="name"
                            name="name"
                            class="form-control"
                            id="floatingInput"
                            placeholder=" Enter Title"
                          />
                        </div>
                        <div class="mb-3">
                      
                          <input
                            type="text"
                            id="name"
                            name="name"
                            class="form-control"
                            id="floatingInput"
                            placeholder="Enter Category"
                          />
                        </div>
                        <div class="mb-3">
                          <input
                            type="text"
                            id="name"
                            name="name"
                            class="form-control"
                            id="floatingInput"
                            placeholder="Enter name"
                          />
                        </div>
                        <div class="mb-3">
                          <input
                            type="text"
                            id="name"
                            name="name"
                            class="form-control"
                            id="floatingInput"
                            placeholder="Enter name"
                          />
                        </div>
                        <div class="mb-3">
                          <input
                            type="text"
                            id="name"
                            name="name"
                            class="form-control"
                            id="floatingInput"
                            placeholder="Enter name"
                          />
                        </div>
                        <div class="mb-3">
                          <input
                            type="file"
                            name="image_url"
                            id="image_url"
                            class="form-control"
                            id="floatingInput1"
                            placeholder="Password"
                          />
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> 
                          <button type="submit" class="btn btn-success">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>