
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    
    <script src="../assets_admin/js/plugins/popper.min.js"></script>
    <script src="../assets_admin/js/plugins/simplebar.min.js"></script>
    <script src="../assets_admin/js/plugins/bootstrap.min.js"></script>
    <script src="../assets_admin/js/fonts/custom-font.js"></script>
    <script src="../assets_admin/js/pcoded.js"></script>
    <script src="../assets_admin/js/plugins/feather.min.js"></script>
    <script src="../assets_admin/js/plugins/dataTables.min.js"></script>
    <script src="../assets_admin/js/plugins/dataTables.bootstrap5.min.js"></script>
    <script>



      // [ base style ]
      $("#base-style").DataTable();
  
      
      // $('#articlesTable').DataTable({
      //     "processing": true, // Show processing indicator
      //     "serverSide": true,  // Enable server-side processing
      //     "ajax": {
      //         "url": "/admin/articleslist", // Your endpoint for fetching articles
      //         "type": "GET",
      //     },
      //     "columns": [
      //         {
      //             "data": "title",
      //             "render": function (data, type, row) {
      //                 return `<a href="#" title="${data}">
      //                             ${truncateText(data, 50)}
      //                         </a>`;
      //             }
      //         },
      //         { "data": "category_name" }, // Category Name
      //         { "data": "source" },        // Source Name
      //         {
      //             "data": "published_at",
      //             "render": function (data) {
      //                 return `${moment(data).format('MMMM D, YYYY')}<br />${moment(data).format('h:mm A')}`;
      //             }
      //         },
      //         {
      //             "data": "id",
      //             "render": function (data, type, row) {
      //                 return `
      //                     <a href="#" data-bs-toggle="modal" data-bs-target="#ViewArticle${data}" class="avtar avtar-xs btn-link-secondary">
      //                         <i class="ti ti-eye f-20"></i>
      //                     </a>
      //                     <a href="#" class="avtar avtar-xs btn-link-secondary" data-bs-toggle="modal" data-bs-target="#EditArticle${data}">
      //                         <i class="ti ti-edit f-20"></i>
      //                     </a>
      //                     <a href="/delete_article/${data}" class="avtar avtar-xs btn-link-secondary text-danger" onclick="return confirm('Are you sure you want to permanently delete this article?');">
      //                         <i class="ti ti-trash f-20"></i>
      //                     </a>`;
      //             }
      //         }
      //     ],
      //     "order": [[3, 'desc']], // Default sorting by published_at
      // });



      
      
      
      $("#no-style").DataTable();
  
      // [ compact style ]
      $("#compact").DataTable();


  
      // [ hover style ]
      $("#table-style-hover").DataTable();
    </script>




    </div>
    <script>
      layout_change("light");
    </script>
    <script>
      change_box_container("false");
    </script>
    <script>
      layout_caption_change("true");
    </script>
    <script>
      layout_rtl_change("false");
    </script>
    <script>
      preset_change("preset-1");
    </script>
    <script>
      main_layout_change("vertical");
    </script>
    <!-- [Page Specific JS] start --><!-- bootstrap-datepicker -->
    <script src="../assets_admin/js/plugins/datepicker-full.min.js"></script>
    <script src="../assets_admin/js/plugins/apexcharts.min.js"></script>
    <script src="../assets_admin/js/plugins/peity-vanilla.min.js"></script>
    <script src="../assets_admin/js/pages/course-dashboard.js"></script>
    <!-- [Page Specific JS] end -->
    
    <script>
      const Swal = require('sweetalert2');
    </script>

    <script>
  var quill = new Quill('#editor-container', {
    theme: 'snow', // or 'bubble' theme
    modules: {
      toolbar: [
        [{ header: [1, 2, false] }],
        ['bold', 'italic', 'underline'],
        ['link', 'blockquote', 'code-block'],
        [{ list: 'ordered' }, { list: 'bullet' }]
        [{ align: [] }],
        [{ color: [] }, { background: [] }]
      ]
    }
  });
</script>