
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    
    <script src="../assets_admin/js/plugins/popper.min.js"></script>
    <script src="../assets_admin/js/plugins/simplebar.min.js"></script>
    <script src="../assets_admin/js/plugins/bootstrap.min.js"></script>
    <script src="../assets_admin/js/fonts/custom-font.js"></script>
    <script src="../assets_admin/js/pcoded.js"></script>
    <script src="../assets_admin/js/plugins/feather.min.js"></script>
    <script src="../assets_admin/js/plugins/dataTables.min.js"></script>
    <script src="../assets_admin/js/plugins/dataTables.bootstrap5.min.js"></script>
    <script>
        // [ base style ]
        $("#base-style").DataTable();
    
        // [ no style ]
        $("#no-style").DataTable();
    
        // [ compact style ]
        $("#compact").DataTable();
    
        // [ hover style ]
        $("#table-style-hover").DataTable();
      </script>

    </div>
    <script>
      layout_change("light");
    </script>
    <script>
      change_box_container("false");
    </script>
    <script>
      layout_caption_change("true");
    </script>
    <script>
      layout_rtl_change("false");
    </script>
    <script>
      preset_change("preset-1");
    </script>
    <script>
      main_layout_change("vertical");
    </script>
    <!-- [Page Specific JS] start --><!-- bootstrap-datepicker -->
    <script src="../assets_admin/js/plugins/datepicker-full.min.js"></script>
    <script src="../assets_admin/js/plugins/apexcharts.min.js"></script>
    <script src="../assets_admin/js/plugins/peity-vanilla.min.js"></script>
    <script src="../assets_admin/js/pages/course-dashboard.js"></script>
    <!-- [Page Specific JS] end -->