<footer id="uc-footer" class="uc-footer panel uc-dark">
    <div class="footer-outer  custom_font py-4 lg:py-6 bg-gray-300 bg-opacity-10 dark:bg-gray-800 dark:bg-opacity-100">
        <div class="container max-w-xl">
            <div class="footer-inner vstack gap-4 lg:gap-6">
                <div class="uc-footer-top">
                    <div class="row child-cols lg:child-cols-2 justify-between g-4" data-uc-grid>
                        <div class="col-12 lg:col-5">
                            <div class="vstack gap-3 dark:text-white">
                                <a href="index.html">
                                    <img class="w-100px lg:w-128px text-dark dark:text-white hover:text-primary transition-color duration-150 d-none dark:d-block" src="../assets/images/demo-two/common/libnews-light.svg" alt="Sign in">
                                    <img class="w-100px lg:w-128px text-dark dark:text-white hover:text-primary transition-color duration-150 d-block dark:d-none" src="../assets/images/demo-two/common/libnews-dark.svg" alt="Sign in">
                                </a>
                                <p class="fs-6 me-8">A comprehensive news platform to access diverse content efficiently, with clear and balance attribution to the sources.</p>
                                <ul class="nav-x gap-2">
                                    <li>
                                        <a class="hover:text-gray dark:hover:text-gray-200 transition-colors duration-200" href="#fb"><i class="icon icon-2 unicon-logo-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a class="hover:text-gray dark:hover:text-gray-200 transition-colors duration-200" href="#x"><i class="icon icon-2 unicon-logo-x-filled"></i></a>
                                    </li>
                                    <li>
                                        <a class="hover:text-gray dark:hover:text-gray-200 transition-colors duration-200" href="#in"><i class="icon icon-2 unicon-logo-instagram"></i></a>
                                    </li>
                                    <li>
                                        <a class="hover:text-gray dark:hover:text-gray-200 transition-colors duration-200" href="#yt"><i class="icon icon-2 unicon-logo-youtube"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div>
                            <div class="widget links-widget vstack gap-3">
                                <div class="widgt-title">
                                    <h4 class="fs-7 fw-medium text-uppercase m-0 text-dark dark:text-white text-opacity-50">Topics</h4>
                                </div>
                                <div class="widgt-content">
                                    <ul class="nav-y gap-2 fs-6 fw-medium text-dark dark:text-white">
                                        <li><a href="#">Social</a></li>
                                        <li><a href="#">Politics</a></li>
                                        <li><a href="#">Economy</a></li>
                                        <li><a href="#">World</a></li>
                                        <li><a href="#">Sports</a></li>
                                        <li><a href="#">Arts</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="widget links-widget vstack gap-3">
                                <div class="widgt-title">
                                    <h4 class="fs-7 fw-medium text-uppercase m-0 text-dark dark:text-white text-opacity-50">Trending now</h4>
                                </div>
                                <div class="widgt-content">
                                    <ul class="nav-y gap-2 fs-6 fw-medium text-dark dark:text-white">
                                        <li><a href="#">Podcats</a></li>
                                        <li><a href="#">News TV</a></li>
                                        <li><a href="#">National</a></li>
                                        <li><a href="#">Global</a></li>
                                        <li><a href="#">Dialogues</a></li>
                                        <li><a href="#">Opinions</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="d-none lg:d-block">
                            <div class="widget links-widget vstack gap-3">
                                <div class="widgt-title">
                                    <h4 class="fs-7 fw-medium text-uppercase m-0 text-dark dark:text-white text-opacity-50">About</h4>
                                </div>
                                <div class="widgt-content">
                                    <ul class="nav-y gap-2 fs-6 fw-medium text-dark dark:text-white">
                                        <li><a href="#">About</a></li>
                                        <li><a href="#">Career</a></li>
                                        <li><a href="sign-in.html">Log in</a></li>
                                        <li><a href="sign-up.html">Create an account</a></li>
                                        <li><a href="#">Sitemap</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="m-0 dark:border-gray-100">
                <div class="uc-footer-bottom panel hstack gap-2 items-start justify-between fs-6 dark:text-white">
                    <div class="footer-copyright vstack sm:hstack gap-1 lg:gap-2">
                        <p>LibNews Central © <%= new Date().getFullYear() %>, All rights reserved.</p>
                        <div class="vr d-none lg:d-block"></div>
                        <ul class="nav-x gap-2 fw-medium">
                            <li><a href="page-privacy.html">Privacy policy</a></li>
                            <li><a href="page-terms.html">Terms of use</a></li>
                        </ul>
                    </div>
                    <div class="footer-lang d-inline-block">
                        <a href="#lang_switcher" class="hstack gap-1 text-none fw-medium">
                            <i class="icon icon-1 unicon-earth-filled"></i>
                            <span>English</span>
                            <span data-uc-drop-parent-icon=""></span>
                        </a>
                        <div class="p-2 bg-white dark:bg-gray-800 shadow-xs rounded w-150px" data-uc-drop="mode: click; boundary: !.uc-footer-bottom; animation: uc-animation-slide-top-small; duration: 150;">
                            <ul class="nav-y gap-1 fw-medium items-end">
                                <li><a href="#en">English</a></li>
                                <li><a href="#ar">العربية</a></li>
                                <li><a href="#ch">中文</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>