<!-- Wrapper start -->
<div id="wrapper" class="wrap overflow-x-hidden">
    <div class="section bg-white dark:bg-gray-900 text-dark dark:text-white">
        <div class="container max-w-xl">
            <div class="panel vstack justify-center items-center gap-2 sm:gap-4 lg:gap-8 text-center h-screen">
                <h2 class="display-6 sm:display-5 lg:display-4 -ls-3 mt-8 text-dark">Coming soon!</h2>
                <div class="row child-cols-3 items-center justify-center g-1 sm:g-2" data-uc-countdown="date: 2024-10-12T16:09:10+00:00">
                    <div>
                        <div>
                            <div class="h2 lg:h1 w-72px sm:min-w-96px py-2 border rounded uc-countdown-days"></div>
                            <div class="uc-countdown-label mt-1 text-center d-none sm:d-block opacity-60">Days</div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <div class="h2 lg:h1 w-72px sm:min-w-96px py-2 border rounded uc-countdown-hours"></div>
                            <div class="uc-countdown-label mt-1 text-center d-none sm:d-block opacity-60">Hours</div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <div class="h2 lg:h1 w-72px sm:min-w-96px py-2 border rounded uc-countdown-minutes"></div>
                            <div class="uc-countdown-label mt-1 text-center d-none sm:d-block opacity-60">Minutes</div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <div class="h2 lg:h1 w-72px sm:min-w-96px py-2 border rounded uc-countdown-seconds"></div>
                            <div class="uc-countdown-label mt-1 text-center d-none sm:d-block opacity-60">Seconds</div>
                        </div>
                    </div>
                </div>
                <p class="fs-6 xl:fs-5 mt-4">
                    Comeback again when we’re live! <br>
                    Thank you for understanding and patience!
                </p>
            </div>
        </div>
    </div>
</div>

<!-- Wrapper end -->