<!-- Wrapper start -->
<div id="wrapper" class="wrap overflow-x-hidden">
    <!-- Page terms -->
    <div class="section py-4 lg:py-6 xl:py-8">
        <div class="container max-w-lg">
            <div class="page-wrap panel vstack gap-4 lg:gap-6 xl:gap-8">
                <header class="page-header panel vstack justify-center gap-2 lg:gap-4 text-center">
                    <div class="panel">
                        <h1 class="h2 m-0">Terms of use</h1>
                    </div>
                </header>
                <div class="page-content panel fs-6 md:fs-5 overflow-scroll">
                    <h5 class="h6 md:h5 mt-3 mb-1">Acceptance of Terms</h5>
                    <p>By accessing or using LibNews Central, you agree to be bound by these Terms of Use. If you do not agree to these terms, please refrain from using our platform.</p>
                    <h5 class="h6 md:h5 mt-3 mb-1">Use of the platform</h5>
                    <ul>
                        <li>You may use LibNews Central for personal, non-commercial purposes.</li>
                        <li>You may not use the platform for any illegal or unauthorized purpose.</li>
                        <li>You may not attempt to gain unauthorized access to our platform or its systems.</li>
                    </ul>
                    <h5 class="h6 md:h5 mt-3 mb-1">Copyright & Intellectual Property</h5>
                    <ul>
                        <li>All content on LibNews Central, including text, images, and other materials, is protected by copyright laws.</li>
                        <li>LibNews Central does not claim ownership of the news articles posted on our platform. The copyright for these articles belongs to their respective owners.</li>
                        <li>You may not reproduce, modify, distribute, or otherwise use any content from LibNews Central without prior written permission from the copyright owner.</li>
                    </ul>
                    <h5 class="h6 md:h5 mt-3 mb-1">Limitation of Liability</h5>
                    <p>LibNews Central shall not be liable for any direct, indirect, incidental, special, or consequential damages arising out of or related to your use
                        of the platform.
                    </p>
                    <h5 class="h6 md:h5 mt-3 mb-1">Governing Law</h5>
                    <p>These Terms of Use shall be governed by and construed in accordance with the laws of Liberia.</p>
                    <h5 class="h6 md:h5 mt-3 mb-1">Copyright Policy</h5>
                    <p>LibNews Central is a news aggregation platform that provides users with access to news articles from various Liberian news sources. We do not claim ownership of the news articles posted on our platform. The copyright for these articles belongs to their respective owners.</p>
                    <p>LibNews Central respects the intellectual property rights of others and is committed to complying with copyright laws. 
                        If you believe that your copyrighted material has been infringed upon on LibNews Central, please contact us at <b>info@libnewscentral.com</b> with a letter and include the full details of the policy that was bridge.
                    </p>
                    <p>We will investigate any claims of copyright infringement and take appropriate action as necessary.   </p>
                </div>
                
                <div class="page-footer panel">
                    <p class="fs-7 opacity-80 m-0">Last updated: 02 Oct, 2024</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Wrapper end -->